/* what */

.what__items {
  flex-direction: column;
}
.what__item {
  padding: 1.6rem;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 6px;
  }
  #navbar {
    padding: 2rem;
    height: 12rem;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  #showcase__info h1 {
    text-align: center;
  }

  .who__img {
    display: none;
  }
  .contact__map {
    display: none;
  }
}

